
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Login | EduBridge</title>
  <link rel="stylesheet" href="EduBridge\accounts\static\css\login.css" />
</head>
<body>
  <header class="navbar">
    <h1>EduBridge</h1>
    <nav>
      <a href="index.html">Home</a>
    </nav>
  </header>

  <main class="login-section">
    <h2>sigup as Institution</h2>
    <div> <nav><button type="link" class="bnt">  <a href="EduBridge\accounts\templates\accounts\signup.html">Sign Up</a>
    </button></nav> OR Login <nav><button type="link" class="bnt">  
        <a href="EduBridge\accounts\templates\accounts\login.html">login</a>
    </button></nav></div>

    <h2>signup as a student, graduate or school leaver</h2>
    <div class="student_div"> <nav><button type="link" class="bnt">  
        <a href="student.html">Sign Up</a>
    </button></nav> OR login <nav><button type="link" class="bnt">  
        <a href="student_login.html">login</a>
    </button></nav></div>
  </main>

  <script src="scripts/login.js"></script>
</body>
</html>
