{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Login | EduBridge</title>
  <link rel="stylesheet" href="{% static 'accounts/css/login.css' %}" />
</head>
<body>
  <header class="navbar">
    <h1>EduBridge</h1>
    <nav>
      <a href="{% url 'home' %}">Home</a>
    </nav>
  </header>

  <main class="login-section">
    <h2>Sign up as Institution</h2>
    <div class="button-group">
      <a href="{% url 'institution_signup' %}" class="btn">Sign Up</a>
      <span>OR</span>
      <a href="{% url 'institution_login' %}" class="btn">Login</a>
    </div>

    <h2>Sign up as a Student, Graduate or School Leaver</h2>
    <div class="button-group">
      <a href="{% url 'student_signup' %}" class="btn">Sign Up</a>
      <span>OR</span>
      <a href="{% url 'student_login' %}" class="btn">Login</a>
    </div>
  </main>

  <script src="{% static 'accounts/scripts/login.js' %}"></script>
</body>
</html>
